<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Properties -->
    <property name="BASE_LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${BASE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="ru.jprod.core.model.math.MathServiceImpl" level="debug"/>

    <!-- Root -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>